:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Abril Fatface", cursive;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}
p {
  font-family: var(--default-font-family);
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
h1 {
  font-size: 96px;
  font-family: "Abril Fatface", cursive;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 3 0px;
}
