:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Abril Fatface", cursive;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
h1 {
  font-size: 96px;
  font-family: "Abril Fatface", cursive;
}
h2 {
  font-size: 60px;
}
.link-icon {
  font-size: 22px;
  padding: 0 20px;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 3 0px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 3 0px;
}
.project-description {
  padding: 120px 60px 0;
}
.content h1 {
  font-size: 64px;
}
.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 0;
}
.content h5 {
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 3;
}
.content p {
  font-size: 14px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 10px 30px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 42px;
  }
  .hero h2 {
    font-size: 14px;
  }
  .hero p {
    font-size: 20px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
.contact {
  text-align: center;
  line-height: 3;
}
